@charset "UTF-8";

@media screen and (min-width: 768px) {
    .page{
        width: 50vw;
    }

    .imagem{
        background-image: url(images/image-product-desktop.jpg);
        float: left;
        width: 40%;
        height: 100%;

    }

    .conteudo{
        float: right;

    }
}