@charset "UTF-8";

@media screen and (min-width:992px ) {
    main{
        width: 700px;
    }

    .plano{
        display: inline-block;
        width: 317px;
    }
    
    .nosEscolha{
        display: inline-block;
        width: 317px;
        float: right;
        margin-right: 3px;
        
    }
}