@charset "UTF-8";
@import url(https://fonts.google.com/specimen/Karla);
:root{
    --primary-color: hsl(179, 62%, 43%);
    --secundary-color: hsl(71, 73%, 54%);
    --neutra01:hsl(204, 43%, 93%);
    --neutra02:hsl(218, 22%, 67%);
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'karla', sans-serif;
}

body{
    background-color: var(--neutra01);
}

.comunidade{
    background-color: white;
}